h1 {
  color : purple;
  text-align: center;
}
body {
    background-image: url("http://i1025.photobucket.com/albums/y311/ImahTL/repeat-background4_zpsbbfb8d68.gif");
}
h3 {
  text-align: center;
}
body {
  text-align: center;
}

